extends ../base.jade

block body
	section(class="col-md-3")
		h2
			| Stammdaten
		ul(class="nav nav-pills nav-stacked")
			+navElement("#/stammdaten/user/", "Schützen", "glyphicon-user")
			+navElement("#/stammdaten/vereine/", "Vereine", "glyphicon glyphicon-home")
			//- .divider
			//- +navElement("#/stammdaten/scheiben/", "Scheiben", "glyphicon glyphicon-screenshot")
			//- +navElement("#/stammdaten/disziplinen/", "Disziplinen", "glyphicon glyphicon-list")
			
	section(class="col-md-9")
		block main
