extends index.pug

block title
	| Vereine


block main
	h1 
		block title
		| 
		small ({{totalItems}} {{totalItems == 1 ? "Ergebniss" : "Ergebnisse"}})
	table(class="table table-hover table-striped")
		thead
			tr
				+tableHeader("Name", "name")
				th(style="width:10%;")
			tr
				td(colspan="1")
					input(autofocus onClick="this.select();" type="text" class="form-control container-fluid" ng-model="store.search" placeholder="Suche")
				td
					button(type="button" class="btn btn-primary btn noMargin col-xs-12" ng-click="newEntry()")
						span(class="glyphicon glyphicon-plus" aria-hidden="true")
						|  Neu
		tbody
			tr(ng-repeat="verein in vereine track by $index")
				td {{verein.name}}
				td
					button(type="button" class="btn btn-link btn-sm noMargin col-xs-12" ng-click="editEntry(verein)")
						span(class="glyphicon glyphicon-pencil" aria-hidden="true")
						|  Bearbeiten
	+itemsPerPage()
	+pagination()
	
	//- modalEditingOverlay template
	script(type="text/ng-template" id="modalEditingOverlay.html")

		div(class="modal-header")
			button(type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()")
				span(aria-hidden="true") &times
			h4(class="modal-title" id="exampleModalLabel")
				span(class="glyphicon glyphicon-home" aria-hidden="true")
				|  {{verein.name}}
		div(class="modal-body")
			form
				div(class="row")
					div(class="form-group col-md-6")
						label(class="control-label") Name:
						input(type="text" class="form-control" ng-model="verein.name")
				.divider
				div(class="form-group")
					label(for="message-text" class="control-label") Notiz:
					textarea(class="form-control" id="message-text" ng-model="verein.note")
		div(class="modal-footer")
			button(class="btn btn-danger pull-left" type="button" ng-click="delete()")
				span(class="glyphicon glyphicon-trash" aria-hidden="true")
				|  Löschen
			button(class="btn btn-primary" type="button" ng-click="save()")
				span(class="glyphicon glyphicon-floppy-disk" aria-hidden="true")
				|  Speichern
