extends ../index.jade

block title
	| Rundenwettkämpfe

block main
	h1
		block title
	table(class="table")
		tr
			th #ID
			th Name
			th Bearbeiten
		- rwks.forEach(function(rwk){
			tr
				td ##{rwk.id}
				td #{rwk.name}
				td
					a(href="./edit/" + rwk.id) Bearbeiten
		- })
	a(href="./edit/new") New
