extends ../index.jade

block title
	| Rundenwettkämpfe

block main
	h1
		block title
	table(class="table table-hover table-striped")
		tr
			th Name
			th Bearbeiten
		tr
			td(colspan="1")
				input(type="text" class="form-control" placeholder="Suchen" style="width:100%;")
			td
				a(href="./edit/new" class="btn btn-success")
					span(class="glyphicon glyphicon-plus" aria-hidden="true")
					|  Neu
		- rwks.forEach(function(rwk){
			tr
				td #{rwk.name}
				td
					a(href="./edit/#{rwk._id}") Bearbeiten
		- })
