extends ./layout.jade

block body
	h1 DSM 
		small Übersicht
	
	div(class="col-xs-3")
		div(class="panel panel-default")
			div(class="panel-heading") Aktive Stände
			div(class="panel-body") 1, 2, 3
			
	div(class="col-xs-3")
		div(class="panel panel-default")
			div(class="panel-heading") DSV
			div(class="panel-body")
		
	div(class="col-xs-3")
		div(class="panel panel-default")
			div(class="panel-heading") Verlassen
			div(class="panel-body")
				button(type="button" class="btn btn-danger btn-group-justified") Verlassen
