include mixins.jade

doctype html
html
	head
		meta(charset="utf-8")
		title
			| DSM - 
			//- block title
			
		// Custom style
		link(href="/css/style.css", rel="stylesheet")

		// jquery
		script(src="/libs/jquery/dist/jquery.js")

		// bootstap
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")

		//- block head
		
		//- Main AngularJS
		script(src="/libs/angularjs/angular.min.js")
		//- Aangular Cookies
		script(src="/libs/angular-cookies/angular-cookies.js")
		//- Angular UI
		script(src="/libs/angular-bootstrap/ui-bootstrap.min.js")
		script(src="/libs/angular-bootstrap/ui-bootstrap-tpls.min.js")
		//- Angular rest lib
		script(src="/libs/restangular/dist/restangular.min.js")
		//- Helper Lib
		script(src="/libs/lodash/lodash.js")

		script(src="/libs/angular-route/angular-route.min.js")
		
		
		// stammsdaten controller
		script(src="/js/stammsdaten/user.js")
		script(src="/js/stammsdaten/verein.js")
		
		// rwks controller
		script(src="/js/rwks/saisons.js")
		script(src="/js/rwks/manschaften.js")
		script(src="/js/rwks/rwks.js")
		
		script(src="/js/index.js")
		
	body(ng-app="dsm")
		nav(class="navbar navbar-default")
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
				
				div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
					ul(class="nav navbar-nav")
						+navElement("#/lines/", "Stände", "glyphicon-list")
						+navElement("#/stammdaten/", "Stammdaten", "glyphicon-user")
						+navElement("#/rwks/", "RWKs", "glyphicon-list-alt")
						//- +navElement("#/stats/", "Statistiken", "glyphicon-stats")
					ul(class="nav navbar-nav navbar-right")
						a(href="/exit/")
							button(type="submit" class="btn btn-danger")
								span(class="glyphicon glyphicon-log-out" aria-hidden="true")
								|  Verlassen
								
		//- block body
		div(ng-view)
