include mixins.jade

doctype html
html(lang="en")
	head
		title
			block title
			
		// Custom style
		link(href="/css/style.css", rel="stylesheet")
		
		// Socket.io
		script(src="/socket.io/socket.io.js")
		
		// jquery
		script(src="/libs/jquery/dist/jquery.js")
		
		// bootstap
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
		
		// Angular
		script(src="/libs/angularjs/angular.min.js")
		script(src="/libs/angular-sanitize/angular-sanitize.min.js")
		script(src='/libs/angular-route/angular-route.js')
		script(src="/libs/angular-socket-io/socket.js")
		script(src='/libs/angular-animate/angular-animate.min.js')
		
		// Select2
		script(src="/libs/select2/dist/js/select2.full.min.js")
		link(href="/libs/select2/dist/css/select2.min.css", rel="stylesheet")
		link(href="/libs/select2-bootstrap-theme/dist/select2-bootstrap.min.css", rel="stylesheet")
		script(src="/libs/angular-ui-select/dist/select.js")
		link(href="/libs/angular-ui-select/dist/select.css", rel="stylesheet")
		
		// Custom Services
		script(src='/js/services/confirm.js')
		script(src='/js/services/filter.js')
		script(src='/js/services/sockets.js')
		
		script(src="/js/lines.js")
		
		script.
			// Init Select2
			$(document).ready(function() {
				$(".selectpicker").select2({
					theme: "bootstrap"
				})
			})
		
		meta(name="viewport", content="width=device-width")
	body
		nav(class="navbar navbar-default")
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					//- a(class="navbar-brand" href="/") DSM
				
				div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
					ul(class="nav navbar-nav")
						+navElement("/stammdaten/", "Stammdaten", "glyphicon-user")
						+navElement("/rwks/", "RWKs", "glyphicon-list-alt")
						+navElement("/lines/", "Stände", "glyphicon-list")
						+navElement("#/stats/", "Statistiken", "glyphicon-signal")
					ul(class="nav navbar-nav navbar-right" ng-controller="exit")
						a(href="/exit/")
							button(type="submit" class="btn btn-danger")
								span(class="glyphicon glyphicon-log-out" aria-hidden="true")
								|  Verlassen
					
		block body


		div(class="modal" id="shutdownConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
			div(class="modal-dialog" role="document")
				div(class="modal-content")
					div(class="modal-header")
						//- button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						//- 	span(aria-hidden="true") &times;
						h4(class="modal-title" id="myModalLabel") Herunterfahren
					div(class="modal-body")
						p Wirklich runterfahren?
					div(class="modal-footer")
						button(type="button" class="btn btn-default" data-dismiss="modal") Schließen
		
		
