include mixins.jade

doctype html
html
	head
		meta(charset="utf-8")
		title DSM
			
		// Custom style
		link(href="/css/style.css", rel="stylesheet")

		// jquery
		script(src="/libs/jquery/dist/jquery.js")

		// bootstap
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")

		// socket.io
		script(src="/socket.io/socket.io.js")
		
		//- Main AngularJS
		script(src="/libs/angular/angular.min.js")
		
		//- Aangular Cookies
		script(src="/libs/angular-cookies/angular-cookies.js")
		
		//- Angular UI
		script(src="/libs/angular-bootstrap/ui-bootstrap.min.js")
		script(src="/libs/angular-bootstrap/ui-bootstrap-tpls.min.js")
		
		// select2
		script(src="/libs/angular-ui-select/dist/select.min.js")
		link(href="/libs/angular-ui-select/dist/select.min.css", rel="stylesheet")
		
		//- Angular rest lib
		script(src="/libs/restangular/dist/restangular.min.js")
		
		//- Helper Lib
		script(src="/libs/lodash/lodash.js")

		//- Angular Route
		script(src="/libs/angular-route/angular-route.min.js")
		
		// SocketIO
		script(src="/libs/angular-socket-io/socket.js")
		
		// intro js
		script(src="/libs/intro.js/minified/intro.min.js")
		link(href="/libs/intro.js/introjs.css" rel="stylesheet")
		script(src="/libs/angular-intro.js/build/angular-intro.min.js")
		
		
		// TODO
		script(src='/js/services/confirm.js')
		script(src='/js/services/filter.js')
		script(src='/js/services/sockets.js')
		script(src='/js/services/grafik.js')
		
		
		
		
		// lines controller
		script(src="/js/lines.js")
		
		// stammsdaten controller
		script(src="/js/stammsdaten/user.js")
		script(src="/js/stammsdaten/verein.js")
		
		// rwks controller
		script(src="/js/rwks/saisons.js")
		script(src="/js/rwks/manschaften.js")
		script(src="/js/rwks/rwks.js")
		script(src="/js/rwks/activeRWKs.js")
		
		// stats controller
		script(src="/js/stats/group.js")
		
		script(src="/js/index.js")
		
	body(ng-app="dsm")
		nav(class="navbar navbar-default")
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
				
				div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
					ul(class="nav navbar-nav")
						+navElement("#/lines", "Stände", "glyphicon-list")
						+navElement("#/stammdaten/", "Stammdaten", "glyphicon-user")
						+navElement("#/rwks/", "RWKs", "glyphicon-list-alt")
						+navElement("#/stats/", "Statistiken", "glyphicon-stats")
					ul(class="nav navbar-nav navbar-right")
						//- button(type="submit" class="btn btn-link" ng-click="CallMe();")
						//- 	span(class="glyphicon glyphicon-file" aria-hidden="true")
						//- 	|  Hilfe
						a(href="#/exit/")
							button(type="submit" class="btn btn-danger")
								span(class="glyphicon glyphicon-log-out" aria-hidden="true")
								|  Verlassen
		
		//- intro.js
		div(ng-intro-options="IntroOptions" ng-intro-method="CallMe" ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent" ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent" ng-intro-onafterchange="AfterChangeEvent" ng-intro-autostart="ShouldAutoStart")
		
		//- block body
		div(ng-view)
		
		script.
			var dscGatewayUrl = "127.0.0.1:4000";
