extends base.jade

block title
	| Verwaltung

block body
	section(class="col-md-3")
		h2 Stände
		ul(class="nav nav-pills nav-stacked")
			li(ng-repeat="line in lines" class="col-md-12")
				div(class="btn-group fullWidth" role="group")
					button(type="button" ng-click="toggleAll(false); toggle(line.id); didToggle();" class="btn col-md-10 {{line.online ? 'btn-primary btn-full-primary' : 'btn-default' }} {{store.linesSelected[line.id] == true ? 'selected' : 'deselected'}}") {{line.label}}
					button(type="button" ng-click="toggle(line.id); didToggle();" class="btn col-md-2 {{line.online ? 'btn-primary' : 'btn-default' }} {{store.linesSelected[line.id] == true ? 'selected' : 'deselected'}}")
						span(class="glyphicon {{store.linesSelected[line.id] == true ? 'glyphicon-remove' : 'glyphicon-plus'}}" aria-hidden="true")
			li(class="col-md-12 btn-group" role="group")
				button(type="button" ng-click="toggleAll(true); didToggle();" class="btn col-md-10 btn-default") Alle markieren
				button(type="button" ng-click="toggleAll(false); didToggle();" class="btn col-md-2 btn-default")
					span(class="glyphicon glyphicon-remove" aria-hidden="true")
		
		
	section(class="col-md-9")
		h1
			block title
		
		
		//- disziplinTypeahead template
		script(type="text/ng-template" id="disziplinTypeahead.html")
			a {{match.model.verein}} {{match.model.name}} ({{match.model.saison}})
		
		
		//- vereinTypeahead template
		script(type="text/ng-template" id="vereinTypeahead.html")
			a {{match.model.name}}
			
			
		//- userTypeahead template
		script(type="text/ng-template" id="userTypeahead.html")
			a {{match.model.firstName}} {{match.model.lastName}} ({{match.model.verein}})
				
		
		.row
		
			//- Alert no selection
			.col-md-12
				div(class="bs-callout bs-callout-info" ng-hide="store.linesSelectedCount != 0")
					h4 Info
					p Kein Stand ausgewählt.



			.col-md-6
				//- Main controls
				div(class="bs-callout bs-callout-danger" ng-hide="store.linesSelectedCount == 0")
					h4 Status
					div(class="form-group")
						div(class="btn-group fullWidth" role="group")
							button(type="submit" class="btn btn-danger col-md-6" ng-click="actions.shutdown()")
								span(class="glyphicon glyphicon glyphicon-flash" aria-hidden="true")
								|  Herunterfahren
							button(type="submit" class="btn btn-primary col-md-6" ng-click="actions.wakeonlan()")
								span(class="glyphicon glyphicon glyphicon-log-out" aria-hidden="true")
								|  Hochfahren
					div(class="form-group")
						div(class="btn-group fullWidth" role="group")
							button(type="submit" class="btn btn-default col-md-12" ng-click="actions.openLine()")
								span(class="glyphicon glyphicon glyphicon-record" aria-hidden="true")
								|  Stand öffnen


				//- Disziplinen selection
				div(class="bs-callout bs-callout-primary" ng-hide="store.linesSelectedCount == 0")
					h4 Disziplin & Scheibe
					div(class="form-horizontal")
						div(class="form-group")
							label(class="col-sm-2 control-label") Disziplin
							div(class="col-sm-10")
								ui-select(ng-model="selected.disziplin" theme="bootstrap" ng-disabled="disabled" reset-search-input="true" on-select="actions.selectDisziplin()")
									ui-select-match {{selected.disziplin.title}} ({{selected.disziplin.scheibe.title}})
									ui-select-choices(group-by="groupByType" repeat="disziplin in disziplinen | propsFilter: {title: $select.search}" )
										div {{disziplin.title}} ({{disziplin.scheibe.title}})
						div(class="form-group")
							label(class="col-sm-2 control-label") Mode
							div(class="col-sm-10")
								ui-select(ng-model="selected.part" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" on-select="actions.selectPart()")
									ui-select-match {{selected.part.title}}
									ui-select-choices(repeat="part in parts | propsFilter: {title: $select.search}")
										div {{part.title}}
						div(class="form-group")
							div(class="btn-group col-md-12")
								div(class="btn-group fullWidth" role="group")
									button(type="submit" class="btn btn-default col-md-6" ng-click="actions.newTarget()")
										span(class="glyphicon glyphicon glyphicon-plus" aria-hidden="true")
										|  Neue Scheibe
									button(type="submit" class="btn btn-danger col-md-6" ng-click="actions.resetLine()")
										span(class="glyphicon glyphicon glyphicon-log-out" aria-hidden="true")
										|  Zurücksetzen



			.col-md-6
				//- Druck & Log
				div(class="bs-callout bs-callout-default" ng-hide="store.linesSelectedCount == 0")
					h4 Druck & Log
					div(class="btn-group fullWidth" role="group")
						button(type="submit" class="btn btn-default col-md-6" ng-click="actions.print(true)")
							span(class="glyphicon glyphicon glyphicon-print" aria-hidden="true")
							|  Ausdruck erstellen
						button(type="submit" class="btn btn-default col-md-6" ng-click="actions.openLog()")
							span(class="glyphicon glyphicon glyphicon-list" aria-hidden="true")
							|  Log öffnen


				//- User
				div(class="bs-callout bs-callout-primary" ng-hide="store.linesSelectedCount != 1")
					h4 Schütze
					div(class="form-horizontal")
						div(class="form-group")
							label(class="col-sm-2 control-label") Verein:
							div(class="col-md-10")
								.input-group
									input(onClick="this.select();" type="text" ng-model="selected.verein" placeholder="Verein" uib-typeahead="verein as verein.name for verein in getVereine($viewValue)" typeahead-loading="loadingVereine" typeahead-template-url="vereinTypeahead.html" typeahead-no-results="noResultsVerein" class="form-control")
									span(class="input-group-btn")
										button(type="button" class="btn btn-default btn noMargin" ng-click="selected.verein = '';")
											span(class="glyphicon glyphicon-remove" aria-hidden="true")
								i(ng-show="loadingVereine" class="glyphicon glyphicon-refresh")
								div(ng-show="noResultsVerein")
									i(class="glyphicon glyphicon-remove")
									| Kein Verein gefunden
						div(class="form-group")
							label(class="col-sm-2 control-label") Schütze:
							div(class="col-md-10")
								.input-group
									input(onClick="this.select();" type="text" ng-model="selected.user" placeholder="Schütze" uib-typeahead="user for user in getUsers($viewValue)" typeahead-loading="loadingUser" typeahead-input-formatter="getUserTitle($model)" typeahead-template-url="userTypeahead.html" typeahead-no-results="noResultsUser" typeahead-on-select="selectUser()" class="form-control")
									span(class="input-group-btn")
										button(type="button" class="btn btn-default btn noMargin" ng-click="actions.resetUser()")
											span(class="glyphicon glyphicon-remove" aria-hidden="true")
								i(ng-show="loadingUser" class="glyphicon glyphicon-refresh")
								div(ng-show="noResultsUser")
									i(class="glyphicon glyphicon-remove")
									| Kein Schütze gefunden


				//- Message
				div(class="bs-callout bs-callout-default" ng-hide="store.linesSelectedCount == 0")
					h4 Nachricht
					div(class="form-horizontal")
						div(class="form-group")
							label(class="col-sm-2 control-label") Art
							div(class="btn-group col-md-10" role="group")
								button(type="submit" class="btn btn-danger col-md-6 noMargin" ng-click="actions.showMessage('danger', 'Sicherheit')")
									span(class="glyphicon glyphicon glyphicon-exclamation-sign" aria-hidden="true")
									|  Sicherheit
								button(type="submit" class="btn btn-warning col-md-6 noMargin" ng-click="actions.showMessage('default', 'Pause')")
									span(class="glyphicon glyphicon glyphicon-pause" aria-hidden="true")
									|  Pause
						div(class="form-group")
							div(class="btn-group col-md-12" role="group")
								button(type="submit" class="btn btn-default col-md-12 noMargin" ng-click="actions.hideMessage()")
									span(class="glyphicon glyphicon glyphicon-eye-close" aria-hidden="true")
									|  Verstecken


		//- scrpt.
		//- 	var dsmSocket = io()
		//- 	var event = new Event('build')
		//- 
		//- 	var config = !{JSON.stringify(config)}
		//- 	var vereine = !{JSON.stringify(vereine)}
		//- 	var schuetzen = []
		
