extends index.jade

block title
	| Übersicht

block main
	script.
		var stände = !{JSON.stringify(stände)}
		
		angular.module('dsm.services.sockets', ["btford.socket-io"]).
		factory('sockets', ["socketFactory", function (socketFactory) {
			var sockets = []
			
			for (var key in stände){
				var stand = stände[key]
				sockets.push(socketFactory({
					ioSocket: io.connect(stand.ip+":"+stand.port)
				}))
			}
			
			return sockets; 
		}])
		
		angular.module('overview', [
			'dsm.services.sockets',
		])
		.controller('list', function ($scope, sockets) {
			$scope.staende = stände
			
			for (var i in sockets){
				var socket = sockets[i]
				socket.on("setSession", function (session) {
					console.log(session)
				})
			}
		})
		
	div(ng-app="overview")
		h1
			block title

			div(class="" ng-controller="list")
				div(ng-repeat="stand in staende track by $index" class="col-xs-4")
					p(href="#" class="thumbnail") {{stand.label}}
