extends index.jade

block title
	| Übersicht

block main
	h1
		block title

		div(class="")
			div(class="col-xs-6 col-md-3 standbox")
				a(href="#" class="thumbnail")
					
			div(class="col-xs-6 col-md-3 standbox")
				a(href="#" class="thumbnail")
							
			div(class="col-xs-6 col-md-3 standbox")
				a(href="#" class="thumbnail")
				
			div(class="col-xs-6 col-md-3 standbox")
				a(href="#" class="thumbnail")

			div(class="col-xs-6 col-md-3 standbox")
				a(href="#" class="thumbnail")
									
			div(class="col-xs-6 col-md-3 standbox")
				a(href="#" class="thumbnail")
