extends index.jade

block title
	| Übersicht

block main
	h1
		block title

		div(class="")
			
			- for (var key in stände){
				- var stand = stände[key]
				div(class="col-xs-4")
					p(href="#" class="thumbnail") #{stand.label}
			- }
