extends index.jade

block stand
	script(src="//"+stand.ip+":"+stand.port+"/socket.io/socket.io.js")
	script.
		var socket = io("//#{stand.ip}:#{stand.port}")
		
		var session
		socket.on('setSession', function(newSession){
			console.log(newSession)
			session = newSession
			setUpDisziplinen()
		});
		var config
		socket.on('setConfig', function(c){
			console.log(c)
			config = c
			setUpDisziplinen()
		});
		socket.on('newShot', function(shot){
			//console.log(shot)
		});
		
		
	h2 View
