extends ../index.jade

block title
	| #{manschaft.name}

block main
	h1
		block title
		
	ul(class="nav nav-tabs")
		li(class="")
			a(href="../")
				span(class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true")
				|  Übersicht
		li(class="active")
			a
				span(class="glyphicon glyphicon glyphicon-cog" aria-hidden="true")
				|  Bearbeiten
	
	div(class="panel panel-primary")
		div(class="panel-heading") Infos
		div(class="panel-body")
			form(role='form' method="post" class="form-horizontal")
				+inputDefault("name", manschaft ? manschaft.name : "", "Name")
				
				- var optionVerein = []
				- vereine.forEach(function(verein){ optionVerein.push({id: verein._id, title: verein.name}) })
				+inputSelect("vereinID", optionVerein, manschaft ? manschaft.vereinID : "", "Verein")
				
				input(type="submit" class="btn btn-primary pull-right")
			a(href="../delete/" + manschaft._id class="btn btn-danger pull-reft") Löschen
