extends ../index.jade

block title
	| Manschaften

block main
	h1
		block title
	table(class="table")
		tr
			th Manschaft Name
			th Bearbeiten
		- manschaften.forEach(function(manschaft){
			tr
				td #{manschaft.name}
				td
					a(href="./edit/" + manschaft._id) Bearbeiten
		- })
	a(href="./edit/new") New
