extends ../base.jade

block body
	section(class="col-md-3")
		h2
			| RWKs
		ul(class="nav nav-pills nav-stacked")
			+navElement("#/rwks/active/", "Aktive Wettkämpfe", "glyphicon glyphicon-refresh")
			+navElement("#/rwks/rwks/", "Wettkämpfe", "glyphicon glyphicon-th-list")
			.divider
			+navElement("#/rwks/saisons/", "Runden", "glyphicon glyphicon-calendar")
			+navElement("#/rwks/manschaften/", "Manschaften", "glyphicon-th-large")
	section(class="col-md-9")
		block main
