extends ../index.jade

mixin form()
	form(role='form' method="post")
		+inputDefault("jahr", saison ? saison.jahr : "", "Jahr")
		
		- var optionDisziplinen = []
		- disziplinen.forEach(function(disziplin){ optionDisziplinen.push({id: disziplin.id, title: disziplin.name}) })
		+inputSelect("disziplin", optionDisziplinen, saison ? saison.disziplinID : "", "Disziplin")
		
		
		input(type="submit" class="btn btn-primary pull-right")

block title
	| Saisons

block main
	h1
		block title
	table(class="table")
		tr
			th #ID
			th Jahr
			th Disziplin
			th Bearbeiten
		- saisons.forEach(function(saison){
			tr
				td ##{saison.id}
				td #{saison.jahr}
				td #{saison.disziplin}
				td
					a(href="./edit/" + saison.id) Bearbeiten
		- })
	a(href="./edit/new") New
