extends index.jade

block title
	| #{schuetze.vorname} #{schuetze.name}
	
block main
	h1 #{schuetze.firstName} #{schuetze.lastName}
	
	ul(class="nav nav-tabs")
		li(class="")
			a(href="../")
				span(class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true")
				|  Übersicht
		li(class="active")
			a
				span(class="glyphicon glyphicon glyphicon-cog" aria-hidden="true")
				|  Bearbeiten
	
	form(role='form' method="post" class="form-horizontal")
		div(class="panel panel-default")
			div(class="panel-heading") Infos
		
			div(class="panel-body")
			
				+inputDefault("firstName", schuetze ? schuetze.firstName : "", "Vorname")
				+inputDefault("lastName", schuetze ? schuetze.lastName : "", "Name")
				+inputDefault("passnummer", schuetze ? schuetze.passnummer : "", "Passnummer")
				
				- var optionVerein = []
				- vereine.forEach(function(verein){ optionVerein.push({id: verein.id, title: verein.name}) })
				+inputSelect("vereinID", optionVerein, schuetze ? schuetze.vereinID : "", "Verein")
				
				+inputTextArea("note", schuetze ? schuetze.note : "", "Notiz")
				
				+inputDisabled(schuetze ? schuetze.id : "", "ID")
				
		input(type="submit" class="btn btn-primary pull-right col-xs-2")
		a(href="../delete/" + schuetze._id class="btn btn-danger pull-left col-xs-2")
			span(class="glyphicon glyphicon glyphicon-trash" aria-hidden="true")
			|  Löschen
