extends ../index.jade

block title
	| Schützen

block main
	h1
		block title
	table(class="table" id="example")
		tr
			th Vorname
			th Name
			th Bearbeiten
		- schuetzen.forEach(function(schuetze){
			tr
				td #{schuetze.vorname}
				td #{schuetze.name}
				td
					a(href="./edit/" + schuetze._id) Bearbeiten
		- })
	a(href="./edit/new") Neu
