extends ../index.jade

input(type="submit" value=value, class="btn btn-primary pull-right")

block title
	| #{verein.name}
	
block main
	h1
		block title
	div(class="panel panel-primary")
		div(class="panel-heading") Infos
		div(class="panel-body")
			+form()
			a(href="../delete/" + verein._id) Löschen
