@import "../node_modules/bootstrap/less/bootstrap.less";

h1, h2 {
	text-align: center;
}

table {
	width: 100%;
}
button {
	margin-top: 1vmin;
}


.noMargin {
	margin: 0;
}





.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }







.select2-container .select2-choice {
	height: 20vh;
}




.nav-tabs {
	margin-bottom: 1em;
}




// Helper

.fullWidth{
	width: 100%;
}

.sizeCoulumToFit {
	white-space:nowrap;
	width:1%;
}






// Stände

.selected {
	opacity: 1.0;
}

.deselected {
	opacity: 0.3;
}

.standLabel {
	position:absolute;

	h1 {
		margin: 0;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.7);
		padding: 0.5vmin;
		z-index: 10;
		position: relative;
	}
}







// Animation

.animate {
	opacity: 1;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.animate.ng-hide {
	opacity: 0;
}
