@import "../node_modules/bootstrap/less/bootstrap.less";

h1 {
	text-align: center;
}

table {
	width: 100%;
}

.nav-tabs {
	margin-bottom: 1em;
}





button {
	margin-top: 1vmin;
}


.selected {
	opacity: 1.0;
}

.deselected {
	opacity: 0.3;
}


.fullWidth{
	width: 100%;
}
