extends ../index.jade

block title
	| #{scheibe.name}
	
block main
	h1
		block title
	div(class="panel panel-primary")
		div(class="panel-heading") Infos
		div(class="panel-body")
			+form()
			a(href="../delete/" + scheibe.id) Löschen
