extends index.jade

block title
	| Gau-, Preis- und Königsschießen


block main
	h1
		block title
		| 
		small ({{totalItems}} {{totalItems == 1 ? "Ergebniss" : "Ergebnisse"}})
	table(class="table table-hover table-striped")
		thead
			tr
				+tableHeader("Vorname", "firstName")
				+tableHeader("Nachname", "lastName")
				+tableHeader("Verein", "verein")
				+tableHeader("Linie", "line")
				+tableHeader("Disziplin", "disziplin")
				+tableHeader("Datum", "unixtime")
				th(style="width:10%;")
			tr
				td(colspan="7")
					input(autofocus onClick="this.select();" type="text" class="form-control container-fluid" ng-model="store.search" placeholder="Suche")
		tbody
			tr(ng-repeat="sessionGroup in sessionGroups track by $index")
				td {{sessionGroup.user.firstName}}
				td {{sessionGroup.user.lastName}}
				td {{sessionGroup.user.verein}}
				td {{sessionGroup.line}}
				td {{sessionGroup.disziplin.title}} ({{sessionGroup.disziplin.scheibe.title}})
				td {{formateDate(sessionGroup.date/1000)}}
				td
					button(type="button" class="btn btn-link btn-sm noMargin col-xs-12" ng-click="editEntry(sessionGroup)")
						span(class="glyphicon glyphicon-pencil" aria-hidden="true")
						|  Bearbeiten
	+itemsPerPage()
	+pagination()
	
	//- modalEditingOverlay template
	script(type="text/ng-template" id="modalEditingOverlay.html")

		div(class="modal-header")
			button(type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()")
				span(aria-hidden="true") &times
			h4(class="modal-title" id="exampleModalLabel")
				span(class="glyphicon glyphicon-user" aria-hidden="true")
				|  {{sessionGroup.line}} - {{sessionGroup.user.firstName}} {{sessionGroup.user.lastName}} ({{sessionGroup.user.verein}})
		div(class="modal-body")
			form
				div(class="row")
					div(class="form-group col-md-4")
						label(class="control-label") Datum:
						p {{formateDate(sessionGroup.date/1000)}}
					div(class="form-group col-md-4")
						label Linie:
						p {{sessionGroup.line}}
					div(class="form-group col-md-4")
						label Disziplin:
						p {{sessionGroup.disziplin.title}} ({{sessionGroup.disziplin.scheibe.title}})
						
					.divider
					
					//- div(class="form-group col-md-6")
					//- 	label(class="control-label") Verein:
					//- 	verein-typeahead(user="user" verein="verein")
					//- div(class="form-group col-md-6")
					//- 	label(class="control-label") Schütze:
					//- 	user-typeahead(user="user" verein="verein")
					//- 
					//- .divider
					
					div(ng-repeat="(sessionIndex, session) in sessionGroup.sessionParts" class="form-group col-md-12" ng-hide="session.anzahl == 0")
						table(class="table table-condensed table-striped" )
							thead
								tr
									+tableHeader("Type", "")
									+tableHeader("Anzahl", "")
									+tableHeader("Gesamt", "")
									+tableHeader("Schnitt", "")
									+tableHeader("Innenzehner", "")
									+tableHeader("10,0", "")
									+tableHeader("9,9", "")
									+tableHeader("Bester Teiler", "")
									+tableHeader("Hochrechnung", "")
							tbody
								tr
									td {{sessionGroup.disziplin.parts[session.type].title}}
									td {{session.anzahl}}
									td {{session.gesamt}}
									td {{session.schnitt}}
									td {{session.counts.innenZehner}}
									td {{session.counts.zehnNull}}
									td {{session.counts.neunNeun}}
									td {{session.bestTeiler}}
									td {{session.schnittCalc}}
						
						div(ng-repeat="(serieIndex, serie) in session.serien" class="form-group col-md-4")
							label(class="control-label") {{disziplin.parts[session.part].title}}
							table(class="table table-condensed table-striped" )
								thead
									tr
										+tableHeader("Nr.", "number")
										+tableHeader("Ring", "ring")
										+tableHeader("Teiler", "ring")
								tbody
									tr(colspan="3" class="fullWidth")
										div(style="width:80%; margin-left:7%;")
											target(zoomlevel="sessionGroup.disziplin.scheibe.defaultZoom" serie="serie.shots" selectedshotindex="-1" scheibe="sessionGroup.disziplin.scheibe" probeecke="sessionGroup.disziplin.parts[session.type].probeEcke")
									tr(ng-repeat="(shotIndex, shot) in serie.shots")
										td {{shot.number}}.
										td {{shot.ring.display}}
										td {{shot.teiler}}
								tfooter
									tr(ng-click="selectedshotindex[sessionIndex] = -1;")
										td {{serie.anzahl.length}}
										th {{serie.gesamt}} Ringe
										th {{serie.schnitt}} Schnitt
						.divider


					div(class="form-group col-md-6")
						label(class="control-label") Auf Linie laden:
						ui-select(ng-model="selected.line" theme="bootstrap" ng-disabled="disabled" reset-search-input="true" on-select="")
							ui-select-match {{selected.line.label}}
							ui-select-choices(repeat="line in lines | propsFilter: {label: $select.search}")
								div {{line.label}}
						button(type="submit" class="btn btn-default col-md-12" ng-click="actions.sendSessions()" ng-hide="selected.line == undefined")
							span(class="glyphicon glyphicon glyphicon-share-alt" aria-hidden="true")
							|  Übertragen
				
					.divider
					div(class="form-group col-md-12")
						label(for="message-text" class="control-label") Notiz:
						textarea(class="form-control" id="message-text" ng-model="group.note")
		div(class="modal-footer")
			//- button(class="btn btn-danger pull-left" type="button" ng-click="delete()")
			//- 	span(class="glyphicon glyphicon-trash" aria-hidden="true")
			//- 	|  Löschen
			button(class="btn btn-primary" type="button" ng-click="close()")
				| Fertig
