extends index.jade

block title
	| Session Gruppen


block main
	h1
		block title
		| 
		small ({{totalItems}} {{totalItems == 1 ? "Ergebniss" : "Ergebnisse"}})
	table(class="table table-hover table-striped")
		thead
			tr
				+tableHeader("Vorname", "firstName")
				+tableHeader("Nachname", "lastName")
				+tableHeader("Verein", "verein")
				+tableHeader("Linie", "line")
				+tableHeader("Disziplin", "disziplin")
				+tableHeader("Datum", "unixtime")
				th(style="width:10%;")
			tr
				td(colspan="6")
					input(autofocus onClick="this.select();" type="text" class="form-control container-fluid" ng-model="store.search" placeholder="Suche")
				td
					button(type="button" class="btn btn-primary btn noMargin col-xs-12" ng-click="newEntry()")
						span(class="glyphicon glyphicon-plus" aria-hidden="true")
						|  Neu
		tbody
			tr(ng-repeat="sessionGroup in sessionGroups track by $index")
				td {{sessionGroup.firstName}}
				td {{sessionGroup.lastName}}
				td {{sessionGroup.verein}}
				td {{sessionGroup.line}}
				td {{sessionGroup.disziplin}}
				td {{formateDate(sessionGroup.unixtime)}}
				td
					button(type="button" class="btn btn-link btn-sm noMargin col-xs-12" ng-click="editEntry(sessionGroup)")
						span(class="glyphicon glyphicon-pencil" aria-hidden="true")
						|  Bearbeiten
	+itemsPerPage()
	+pagination()
	
	//- modalEditingOverlay template
	script(type="text/ng-template" id="modalEditingOverlay.html")

		div(class="modal-header")
			button(type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()")
				span(aria-hidden="true") &times
			h4(class="modal-title" id="exampleModalLabel")
				span(class="glyphicon glyphicon-user" aria-hidden="true")
				|  Session: {{group.firstName}} {{group.lastName}} ({{group.line}})
		div(class="modal-body")
			form
				div(class="row")
					div(class="form-group col-md-4")
						label(class="control-label") Datum:
						p {{formateDate(group.unixtime)}}
					div(class="form-group col-md-4")
						label Linie:
						p {{group.line}}
					div(class="form-group col-md-4")
						label Disziplin:
						p {{group.disziplin}}
						
					.divider
					
					div(class="form-group col-md-6")
						label(class="control-label") Verein:
						verein-typeahead(user="user" verein="verein")
					div(class="form-group col-md-6")
						label(class="control-label") Schütze:
						user-typeahead(user="user" verein="verein")
					i
					div(ng-repeat="session in sessions track by $index" class="form-group col-md-6")
						label(class="control-label") {{session.part}}
						table(class="table table-hover table-striped")
							thead
								tr
									+tableHeader("Nummer", "number")
									+tableHeader("Ring", "ring")
									+tableHeader("Teiler", "ring")
							tbody
								tr(ng-repeat="shot in session.shots track by $index")
									td {{shot.number}}/ {{shot.serie}}
									td {{shot.ring}}
									td {{shot.teiler}}
							tfooter
								td {{session.shots.length}}
								td {{session.sum}} Ringe
								td {{session.avg}} Schnitt
									
				
				
				
				.divider
				div(class="form-group")
					label(for="message-text" class="control-label") Notiz:
					textarea(class="form-control" id="message-text" ng-model="group.note")
		div(class="modal-footer")
			//- button(class="btn btn-danger pull-left" type="button" ng-click="delete()")
			//- 	span(class="glyphicon glyphicon-trash" aria-hidden="true")
			//- 	|  Löschen
			button(class="btn btn-primary" type="button" ng-click="save()")
				span(class="glyphicon glyphicon-floppy-disk" aria-hidden="true")
				|  Speichern
