extends ../base.jade

block body
	section(class="col-md-3")
		h2
			| Statistik
		ul(class="nav nav-pills nav-stacked")
			+navElement("#/stats/group/", "Session Group", "glyphicon-user")
			
	section(class="col-md-9")
		block main
