extends ../base.jade

block body
	section(class="col-md-3")
		h2 Stände
		ul(class="nav nav-pills nav-stacked")
			li(ng-repeat="line in lines" class="col-md-12")
				div(class="btn-group fullWidth" role="group")
					button(type="button" ng-click="toggleAll(false); toggle(line.id);" class="btn col-md-10 {{line.online ? 'btn-primary' : 'btn-default' }} {{store.linesSelected[line.id] == true ? 'selected' : 'deselected'}}") {{line.label}}
					button(type="button" ng-click="toggle(line.id)" class="btn col-md-2 {{line.online ? 'btn-primary' : 'btn-default' }} {{store.linesSelected[line.id] == true ? 'selected' : 'deselected'}}")
						span(class="glyphicon {{store.linesSelected[line.id] == true ? 'glyphicon-remove' : 'glyphicon-plus'}}" aria-hidden="true")
			li(class="col-md-12 btn-group" role="group")
				button(type="button" ng-click="toggleAll(true)" class="btn col-md-10 btn-default") Alle markieren
				button(type="button" ng-click="toggleAll(false)" class="btn col-md-2 btn-default")
					span(class="glyphicon glyphicon-remove" aria-hidden="true")
		
		
	section(class="col-md-9")
		h1
			block title
		ul(class="nav nav-tabs")
			+tabElement("#/lines/verwaltung", "Verwaltung", "glyphicon-cog")
			+tabElement("#/lines/log", "Log", "glyphicon-list-alt")
		
		//- block main

		//- scrpt.
		//- 	var dsmSocket = io()
		//- 	var event = new Event('build')
		//- 
		//- 	var config = !{JSON.stringify(config)}
		//- 	var vereine = !{JSON.stringify(vereine)}
		//- 	var schuetzen = []
		
