extends index.jade

block title
	| #{verein.name}
	
block main
	h1 #{verein.name}
	
	ul(class="nav nav-tabs")
		li(class="")
			a(href="../")
				span(class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true")
				|  Übersicht
		li(class="active")
			a
				span(class="glyphicon glyphicon glyphicon-cog" aria-hidden="true")
				|  Bearbeiten
	
	form(role='form' method="post" class="form-horizontal")
		div(class="panel panel-default")
			div(class="panel-heading") Infos
			div(class="panel-body")
				+inputDefault("name", verein ? verein.name : "", "Name")
				+inputDisabled(verein ? verein._id : "", "ID")
				+inputTextArea("note", verein ? verein.note : "", "Notiz")
				
		input(type="submit" class="btn btn-primary pull-right col-xs-2")
		a(href="../delete/" + verein._id class="btn btn-danger pull-left col-xs-2")
			span(class="glyphicon glyphicon glyphicon-trash" aria-hidden="true")
			|  Löschen
