extends ../index.jade

block title
	| Vereine

block main
	h1
		block title
		
	ul(class="nav nav-tabs")
		li(class="active")
			a
				span(class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true")
				|  Übersicht
	
	table(class="table table-hover table-striped")
		tr
			th Name
			th(class="sizeCoulumToFit")
				span(class="glyphicon glyphicon glyphicon-cog" aria-hidden="true")
				|  Bearbeiten
			th(class="sizeCoulumToFit")
				span(class="glyphicon glyphicon glyphicon-trash" aria-hidden="true")
				|  Löschen
		tr
			td(colspan="1")
				input(type="text" class="form-control" placeholder="Suchen" style="width:100%;")
			td(colspan="2")
				a(href="./edit/new" class="btn btn-primary fullWidth")
					span(class="glyphicon glyphicon-plus" aria-hidden="true")
					|  Neu
		- vereine.forEach(function(verein){
			tr
				td #{verein.name}
				td(class="sizeCoulumToFit")
					a(href="./edit/#{verein.id}")
						span(class="glyphicon glyphicon glyphicon-cog" aria-hidden="true")
						|  Bearbeiten
				td(class="sizeCoulumToFit")
					a(href="./delete/#{verein.id}")
						span(class="glyphicon glyphicon glyphicon-trash" aria-hidden="true")
						|  Löschen
		- })
