extends ../index.jade

block title
	| Vereine

block main
	h1
		block title
	table(class="table")
		tr
			th Name
			th Bearbeiten
		- vereine.forEach(function(verein){
			tr
				td #{verein.name}
				td
					a(href="./edit/" + verein._id) Bearbeiten
		- })
	a(href="./edit/new") Neu
